.container-carousel{
    grid-column: span 3 / span 3;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;          
    width: 100%;
    height: 100%; 
    text-align: center;
    box-sizing: border-box;
    margin: -6% 0 7% 0;
    padding: 0 3em;
    overflow: hidden;
    position: relative;
}

.container-carousel-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    padding: 0;
    transition: transform 0.5s ease-in-out;
}

.container-carousel-cards div:nth-child(3) .button-sale{
    width: 30%;
}

.subtitle-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.subtitle-container span{
    background-color: #f35b83;
    position: absolute;
}

.circle-span{
    width: 5px;
    height: 5px;
}

.subtitle-container span:nth-of-type(1){
    top: 41%;
    left: 41%;
}
.subtitle-container span:nth-of-type(2){
    top: 40%;
    left: 40%;
}
.subtitle-container span:nth-of-type(3){
    top: 41%;
    right: 41%;
}
.subtitle-container span:nth-of-type(4){
    top: 40%;
    right: 40%;
}

.dot.active {
    background-color: #f35b83;
  }

.title-carousel{
    margin: 0 0 1em 0;
}

.footer-top-seller{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0;
}

.footer-top-seller span{
    background-color: #ebebebcc;
}

.container-carousel .circle-icon{
    width: 25px;
    height: 25px;
    position: absolute;
}

.icon-caret-left{
    top: 46%;
    left: 1%;
    border: solid #f35b83;
    opacity: 0.5;
}

.icon-caret-left:hover{
    opacity: 1;
}
.icon-caret-right{
    top: 46%;
    right: 1%;
    border: solid #f35b83;
    opacity: 0.5;
}

.icon-caret-right:hover{
    opacity: 1;
}

.icon-caret-left span{
    background-color: #f35b83;
}
.icon-caret-right span{
    background-color: #f35b83;
}

.icon-caret-right .caret-top {
    top: 50%;
    transform-origin: top right;
    transform: rotate(-45deg);
}

.icon-caret-right  .caret-bottom {
    bottom: 50%;
    transform-origin: bottom right;
    transform: rotate(45deg);
}
