/* Contenedor general de la barra de búsqueda */
.search-bar {
    display: flex; /* Alinea los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    border-radius: 25px; /* Hace el contenedor redondeado */
    overflow: hidden; /* Asegura que los bordes redondeados se respeten */
}

/* Estilo del input */
.search-input {
    flex: 1; /* Hace que el input ocupe el espacio restante */
    border: none; /* Elimina los bordes predeterminados */
    background-color: #f8f7f7;
    outline: none; /* Elimina el contorno al enfocarse */
    padding: 7px 15px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 25px 0 0 25px; /* Redondea los bordes izquierdos */
    width: 100%;
}

.email-input{
   max-width: 80%; 
   height: 100%;
   max-height: 30%;
   border-radius: 25px;
}

/* Input en dispositivos pequeños */
@media (max-width: 480px) {
    .search-bar {
        width: 100%; /* Se adapta al ancho del contenedor */
    }
}
