.container{
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    grid-row-end: 23;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(21, 1fr);
    gap: 4px;
}